<header class="navbar">
  <div class="container-fluid">
    <div class="navbar-toggler" collapsible></div>
    <a class="navbar-brand" href="#/dashboard"><img src="images/logo_innr.png"></a> <a class="btn btn_logout floatright"></a> </div>
</header>
<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-title text-center"> <span>Welcome Administrator</span> </li>
      <li class="nav-item"><a class="nav-link" href="javascript:void(0);" navdd>Orders</a>
      	<ul class="nav-dropdown-items">
                    <li class="nav-dditem">
                        <a class="nav-ddlink">Customer Master</a>
                    </li>
                    <li class="nav-dditem">
                        <a class="nav-ddlink">Article Master</a>
                    </li>
                    <li class="nav-dditem">
                        <a class="nav-ddlink">Order Booking</a>
                    </li>
                    <li class="nav-dditem">
                        <a class="nav-ddlink">Design Approval for Production</a>
                    </li>
                    <li class="nav-dditem">
                        <a class="nav-ddlink">Quality Check - Resharpening </a>
                    </li>
                    <li class="nav-dditem">
                        <a class="nav-ddlink">Find Orders</a>
                    </li>
                    <li class="nav-dditem">
                        <a class="nav-ddlink">View Article Record </a>
                    </li>
                    <li class="nav-dditem">
                        <a class="nav-ddlink">Customer Search</a>
                    </li>
                    <li class="nav-dditem">
                        <a class="nav-ddlink">Customer Search</a>
                    </li>
                    <li class="nav-dditem">
                        <a class="nav-ddlink">Extended Customers Search</a>
                    </li>
                    <li class="nav-dditem">
                        <a class="nav-ddlink">View Customer Article Statistics </a>
                    </li>
                </ul>
      </li>
      <li class="nav-item"><a class="nav-link" href="javascript:void(0);" navdd>Production Orders</a>
      	<ul class="nav-dropdown-items">
                    <li class="nav-dditem">
                        <a class="nav-ddlink">Menu item 1</a>
                    </li>
                    <li class="nav-dditem">
                        <a class="nav-ddlink">Menu item 2</a>
                    </li>
                    </ul>
      </li>
      <li class="nav-item"><a class="nav-link" href="javascript:void(0);" navdd>Storage</a>
      	<ul class="nav-dropdown-items">
                    <li class="nav-dditem">
                        <a class="nav-ddlink">Menu item 1</a>
                    </li>
                    <li class="nav-dditem">
                        <a class="nav-ddlink">Menu item 2</a>
                    </li>
                    </ul>
      </li>
      <li class="nav-item"><a class="nav-link" href="javascript:void(0);" navdd>Invoice</a>
      	<ul class="nav-dropdown-items">
                    <li class="nav-dditem">
                        <a class="nav-ddlink">Menu item 1</a>
                    </li>
                    <li class="nav-dditem">
                        <a class="nav-ddlink">Menu item 2</a>
                    </li>
                    </ul>
      </li>
      <li class="nav-item"><a class="nav-link" href="javascript:void(0);" navdd>Shop Floor</a>
      	<ul class="nav-dropdown-items">
                    <li class="nav-dditem">
                        <a class="nav-ddlink">Menu item 1</a>
                    </li>
                    <li class="nav-dditem">
                        <a class="nav-ddlink">Menu item 2</a>
                    </li>
                    </ul>
      </li>
    </ul>
  </nav>
</div>
<section class="main_bodywrapper">
  <div class="innrpage_header clearfix">
    <div class="page_heading pull-left"> CUSTOMER LIST </div>
    <div class="page_action pull-right"> <a href="#" class="btn btn_add"><span>+</span> Add New</a> </div>
  </div>
  <div class="table_wrappermain">
    <div class="table-responsive">
      <table class="table table_styled">
        <thead>
          <tr>
            <th class="cid">Customer No.</th>
            <th>Customer Name</th>
            <th>City</th>
            <th>Country</th>
            <th class="cmob">Mobile</th>
            <th class="cphn">Phone</th>
            <th>Email</th>
            <th class="caction">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>10111</td>
            <td>ACE Action Construction</td>
            <td>Bangalore: 560058</td>
            <td>India</td>
            <td>999999999</td>
            <td>120-4567878</td>
            <td>acf@gmail.com</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>10111</td>
            <td>ACE Action Construction</td>
            <td>Bangalore: 560058</td>
            <td>India</td>
            <td>999999999</td>
            <td>120-4567878</td>
            <td>acf@gmail.com</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>10111</td>
            <td>ACE Action Construction</td>
            <td>Bangalore: 560058</td>
            <td>India</td>
            <td>999999999</td>
            <td>120-4567878</td>
            <td>acf@gmail.com</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>10111</td>
            <td>ACE Action Construction</td>
            <td>Bangalore: 560058</td>
            <td>India</td>
            <td>999999999</td>
            <td>120-4567878</td>
            <td>acf@gmail.com</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>10111</td>
            <td>ACE Action Construction</td>
            <td>Bangalore: 560058</td>
            <td>India</td>
            <td>999999999</td>
            <td>120-4567878</td>
            <td>acf@gmail.com</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>10111</td>
            <td>ACE Action Construction</td>
            <td>Bangalore: 560058</td>
            <td>India</td>
            <td>999999999</td>
            <td>120-4567878</td>
            <td>acf@gmail.com</td>
            <td>&nbsp;</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="pagination_wrapper clearfix">
    <div class="pull-left found_text">Total Records Found : 444</div>
    <div class="pull-right">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Prev</a> </li>
        <li class="page-item active"> <a class="page-link" href="#">1</a> </li>
        <li class="page-item"><a class="page-link" href="#">2</a> </li>
        <li class="page-item"><a class="page-link" href="#">3</a> </li>
        <li class="page-item"><a class="page-link" href="#">4</a> </li>
        <li class="page-item"><a class="page-link" href="#">Next</a> </li>
      </ul>
    </div>
  </div>
</section>
<footer class="footer_main"> Coptyright : 2017 | GTW </footer>