<div class="loginpage">
<div class="login_leftpanel">
  <div class="login_table">
    <div class="login_tablecell">
      <div class="main_head"></div>
      <div class="login_text">Admin Panel</div>
    </div>
  </div>
</div>
<div class="login_rightpanel">
  <div class="login_table">
    <div class="login_tablecell">
      <form class="login-form">
        <div class="error_msg" style="display:block">space for error message</div>
        <div class="control-group">
          <input type="email" class="login-field" name="username" placeholder="Username" id="login-name">
        </div>
        <div class="control-group">
          <input type="password" class="login-field" name="password" placeholder="Password" id="login-pass">
        </div>
        <button type="submit" class="btn" id="sign_inbtn">Sign In</button>
      </form>
    </div>
  </div>
</div>
</div>